body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
}

.container {
   display: flex;
   justify-content: space-evenly;
}

h1 {
   text-align: center;
   margin-top: 50px;
   margin-bottom: 30px;
}

#playlistForm {
   margin: 30px auto;
   width: 500px;
   padding: 20px;
   background-color: #f2f2f2;
   border-radius: 10px;
}

label {
   display: block;
   font-weight: bold;
   margin-bottom: 10px;
}

input[type="text"] {
   display: block;
   width: 95%;
   padding: 10px;
   border: none;
   border-radius: 5px;
   margin-bottom: 20px;
}

button[type="submit"] {
   display: block;
   background-color: #4caf50;
   color: white;
   border: none;
   border-radius: 5px;
   padding: 10px 20px;
   cursor: pointer;
   margin-top: 20px;
}

button[type="submit"]:hover {
   background-color: #3e8e41;
}

#playlist {
   margin: 30px auto;
   width: 500px;
   list-style: none;
   padding: 0;
}

#playlist li {
   background-color: #f2f2f2;
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 10px;
   cursor: pointer;
}

#playlist li:hover {
   background-color: #e6e6e6;
}

#playerContainer {
   margin: 30px auto;
   width: 560px;
   height: 315px;
   border-radius: 5px;
   border-style: solid;

   overflow: hidden;
}

#player {
   width: 100%;
   height: 100%;
   border: none;
}
